@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');

:root{
    --primary-color:#EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --start-color:#FFCE3E;
    --header-height:120px;
    --navbar-height:34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html{
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
    overflow: hidden;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f5f5f7, #7eb3f0) 
}

body{
    /* min-height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2025/02/19/06/17/winter-9416919_1280.jpg) no-repeat center center/cover; */
}

.header__main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #e6e4e4; */
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 461px;
    border-radius: 6px;
    height: 461px;

}

/* Logo */
.header__logo{
    position: relative;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    text-align: center;

    
}

.header__logo img{
    width: 70px;
    /* margin: 10px 20px ; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
}

.header__body h2{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.header__body p{
    font-size: 16px;
    color: #333;
    margin-top: 24px;
    text-align: center;
    font-weight: 600;
}

/* end logo */



/* Form login */
.form__user{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form__login--input{
    margin: 10px;
    padding: 0 32px;
    font-size: 1.4rem;
    width: 300px;
    height: 40px;
    border: 1px solid #d8d8e9;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    line-height: 40px;
    outline: none;
}

.form__login--input:hover{
    border: 1px solid #7eb3f0;

}

.form__login--icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90px;
    line-height: 40px;
    font-size: 1.4rem;
    color: #8d8b8b;
}

.form__login--eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90px;
    line-height: 40px;
    font-size: 1.4rem;
    color: #8d8b8b;
    cursor: pointer;
}


/* checkbox */

.form__checkbox{
    position: relative;
    padding: 4px 32px;
    margin-bottom: 12px;
    top: 26px;
    left: 81px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form__checkbox--main{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

.form__checkbox--main .form__checkbox--input{
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e6e2e2;
}



.form__checkbox--main:hover  .checkmark{
    background-color: #ccc9c9;
}



.form__checkbox--main .form__checkbox--input:checked ~ .checkmark {
    background-color: #7EB3F0;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .form__checkbox .form__checkbox--input:checked ~ .checkmark:after {
    display: block;
  }
  
  .form__checkbox--main .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(243, 248, 246);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* end checkbox */

/* btn */
.form__btn{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__btn--login{
    width: 300px;
    height: 40px;
    background-color: #7eb3f0;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    line-height: 40px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
}

.form__btn--login:hover{
    background-color: #d6d6d6;
}

/* footer */
footer {
    position: absolute;
    padding: 15px 20px;
    width: 100%;
    bottom: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.footer__main {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 1.6rem;
    font-weight: 500;
}

.footer__left {
    flex: 1;
    font-style: italic;
    user-select: none;

}

.footer__right {
    flex: 1;
    text-align: right;

}

.footer__left--title{
    display: inline-block;
    margin-left: 20px;

    
}

.footer__right > * a{
    text-decoration: none;
    list-style: none;
    color: #111111;
    font-size: 1.6rem;
    text-decoration: underline;

}




/* Second-pages */
.wrapbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
    background: linear-gradient(90deg, #f5f5f7, #7eb3f0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    user-select: none;

}

.wrapbox__head--left{
    
}

.wrapbox__head--logo{
   
}

.wrapbox__head--img{
    height: 40px;
}


.wrapbox__head--right{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #fff;

    

}



.wrapbox__head--name{
    padding:0 4px;
}


.wrapbox__head--icon{
    font-size: 2rem;
}




/*sub */

.wrapbox__sub{
    position: absolute;
    top: 6%;
    right:10px;
    padding: 0 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #f5f5f7, #e5e5e6);
    border-radius: 2px;
    width: 200px;
    height: 200px;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    color: var(--black-color);
    display: none; 
    z-index: 1;

}

.wrapbox__sub--header{
    position: relative;
    margin-top: 10px;
    padding: 0 4px;
    line-height: 20px;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color:#333 ;
}

.wrapbox__sub::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid #e9e4e4;
    top: 16px;
    left: 0;
    height: 20px;
    width: 100%;

}

.wrapbox__sub--department{
    padding: 0 4px;
    margin-top: 30px;
    cursor:default;
}

.wrapbox__sub--text{
    text-align: center;
    padding: 0 2px;
    padding-top: 60px;
    cursor: pointer;
    font-size: 1.8rem;
    text-transform:uppercase ;
}

.wrapbox__sub--icon{
    padding: 0 4px;
}

.wrapbox__head--right:hover .wrapbox__sub{
    display: none;
}


.wrapbox__sub::before{
    content: "";
    position: absolute;
    top: -12px;
    left: 0px;
    width: 200px;
    height: 20px;
}

/* end sub */



/* content */


.wrapbox__themes{
    margin-top: 35px;
    font-size: 1.8rem;
    min-width: auto;
    max-height: auto;
    box-sizing: border-box;
    background-color: #e6e5e5;
    font-family: "Roboto", sans-serif;

}

.wrapbox__themes::after{
    content: "";
    position: absolute;
    height: 20px;
    left: 250px;
    top: 136px;
    width: 100%;
    border-bottom: 1px solid #e9e2e2;
}

.wrapbox__menu{
    width: 250px;
    height: 1000px;
    padding: 10px 32px;
    background-color: #dadbdd;
}



.wrapbox__menu  * {
    color: var(--black-color);
    text-decoration: none;
    list-style: none;
    padding: 4px 0;
    
}

.wrapbox__menu--btn{
    min-width: 180px;
    padding: 10px 4px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.wrapbox__menu--btn:hover{
    background-color: #dad9d9;
}

.wrapbox__menu a:hover {
    margin-right: -10px;
}


.wrapbox__body{
    position: absolute;
    top: 110px;
    left: 300px;
    height: 37px;
    padding: 0 6px;
    background-color: #95b8ee;
    line-height: 35px;
    border-radius: 4px;
    font-size: 1.4rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    user-select: none;
    color: #fff;

}


.wrapbox__body--paper{
    position: absolute;
    top: 2px;
    left: 210px;
    line-height: 35px;
    font-size: 1.4  rem;
    color: #7EB3F0;
    text-decoration: none;
}

