@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html{
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
    overflow: hidden;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f5f5f7, #7eb3f0) 
}

body{
    /* min-height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2025/02/19/06/17/winter-9416919_1280.jpg) no-repeat center center/cover; */
}

.header__main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #e6e4e4; */
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 461px;
    border-radius: 6px;
    height: 327px;

}


h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 20px ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.header__body h2{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.header__body p{
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
}

.header__body--input{
    position: relative;
}

.header__body--username{
    padding: 0 16px;
    width: 250px;
    height: 40px;
    border:1px solid #d8d8e9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius:4px;
    line-height: 20px;
    outline: none;
    line-height: 20px;
    font-size: 16px;

}

.header__body--password{
    padding: 0 16px;
    width: 250px;
    height: 40px;
    border: none;
    border:1px solid #d8d8e9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius:4px;
    font-size: 16px;
    line-height: 20px;
    outline: none;
}

.header__body-color:hover{
    border-color: rgb(172, 173, 173);
}

.header__body--icon{
    position: absolute;
    transform: translateY(60%);
    font-size: 18px;
    right: 120px;
    color: #757575;
}


/* checkbox */

.header__checkbox{
    position: relative;
    padding: 4px 32px;
    margin-bottom: 12px;
    top: 10px;
    left: 110px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header__checkbox label{
    font-size: 1.4rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    cursor: pointer;

}


.header__checkbox--input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width:0;
    opacity: 0;
}

.header__checkbox--color{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e6e3e3;

}


.header__checkbox--main:hover .header__checkbox--color{
    background-color: #b6b4b4;

}

.header__checkbox--main .header__checkbox--input:checked ~ .header__checkbox--color {
    background-color: #438ceb;

}

.header__checkbox--color:after{
    content: "";
    position: absolute;
    display: none;

}

.header__checkbox--input:checked ~ .header__checkbox--color:after{
    display: block;
}

.header__checkbox .header__checkbox--color:after{
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* end checkbox */

.header__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;

}
.header__btn--sgv{
    padding: 8px 12px;
    margin: 6px 0;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    width: 250px;
    line-height: 20px;
    margin-top: 10px;


}

.header__btn--sgv:hover{
    background-color: transparent;
}

.header__text{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    font-style:  italic;
    margin-top: 4px;


}

footer {
    position: absolute;
    padding: 15px 20px;
    width: 100%;
    bottom: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.footer__main {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 1.6rem;
    font-weight: 500;
}

.footer__left {
    flex: 1;
    font-style: italic;
    user-select: none;

}

.footer__right {
    flex: 1;
    text-align: right;

}

.footer__left--title{
    display: inline-block;
    margin-left: 20px;

    
}

.footer__right > * a{
    text-decoration: none;
    list-style: none;
    color: #111111;
    font-size: 1.6rem;
    text-decoration: underline;

}

