@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #fff !important;;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body {
    
    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    user-select: none;
}

#main-home{
    transition: margin-left .5s;
}





/* Sidebar */
.sidebar-menu{
    position: sticky;
    top: 0;
    width: 250px;
    height: 100vh;
    background: var(--base-clr);
    transition: 0.5s;
    z-index: 1000;
    box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    text-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto
}

.sidebar-menu.close{
    width: 55px;
}


.sidebar-menu ul , li a{
    text-decoration: none;
    list-style: none;
}


.sidebar-menu:hover{
    background-color: #003d80;
}


.sidebar-home:hover{
    margin-left: 2px;
    transition: ease-in 0.3s;
    background: linear-gradient(to right, #0056b3, #007bff);
}

.sidebar-logo{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    font-size: 1.4rem;
    color: var(--text-clr);
    background: linear-gradient(to right, #0056b3, #007bff);
}


.sidebar-toggle-btn{
    position: relative;
    /* left: 20px; */
    color: var(--text-clr);
    /* margin-left: 8px; */
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
}


.sidebar-toggle-btn.rotate .arrow-icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.arrow-icon{
    display: inline-block;
    margin: 0 40px;
}

.left-icon{
    display: inline-block;
    margin:0 18px;
}

.sidebar-toggle-btn.rotate .left-icon{
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}





.sidebar-home{
    padding: 10px 0;
    color: var(--text-clr);
}

.sidebar-link{
    color: var(--text-clr);

}

.sidebar-icon{
    position: relative;
    top: 2px;
    font-size: 1.2rem;
    padding-left: 20px;
    margin-right: 12px;
    color: var(--text-clr);
}

.sidebar-log{
    position: relative;
    top: 40px;
    left: 0;
    right:0;
    display: flex;
    justify-content: flex-start;
    padding:10px 0;
}


.sidebar-log:hover{
    transition: ease-in-out 0.2s;
    background: linear-gradient(to right, #0056b3, #007bff);
}

.sidebar-profile:hover{
    transition: ease-in-out 0.2s;
    background: linear-gradient(to right, #0056b3, #007bff);
}

.sidebar-user{
    border-top: 1px solid #fff;
    position: relative;
    top: 40px;
    left: 0;
    right: 0;
    padding: 20px 0;
    color: var(--text-clr);
    font-size: 1.2rem;
}



.sidebar-name{
    margin-top: 2px;
}


.sidebar-tex{
    margin-top: 2px;
    font-size: 1rem;

}



/* sidebar sub */
.sub-menu{
    list-style-type: none;
    line-height: 2;
    width: 350px;
    margin: 0;
    padding:  0;
    max-width: 100%;
}


#sidebar .sub-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
#sidebar .sub-menu.show{
    max-height: 300px;
}
  
#sidebar .sub-menu a{
    color: #fff;
    text-decoration:none;
    padding-left: 54px;
}
  
  
.sidebar-sub{
    align-items: center;
    padding-left:10px;
    padding-right:10px ;
    
} 

.sub-menu li:hover{
    width: 100%;
    margin-left: 2px;
    transition: ease-in-out 0.3s;
    background: linear-gradient(to left, #0056b3, #007bff);
    border-radius: 6px;
        
} 






.box__menu li {
    margin-bottom: 10px;
}

.box__menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.box__menu a:hover {
    background: linear-gradient(to right, #0056b3, #007bff);
}

/* Main Content */
.box__body--main {
    display: none;
    margin-left: 240px;
    /* padding: 20px; */
    
    
}

.box__body--main.active {
    display: block;
}

.box__body--sub{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 20px;
    border-radius: 8px;
}

.box__body--sub-content {
    display: none;
    width: 100%;
    padding-left:20px;
    padding-right:10px;
    

}

.box__body--sub-content.active {
    display: block;
}


/* home */
.box__body--form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box__body--header{
    margin-bottom: 14px;
}

.box__body--logo{
    display: flex;
    justify-content: center;
}

.box__body--mn{
    margin:4px 8px;
    background: linear-gradient(to right, #0056b3, #007bff);
    padding: 4px;
    color: #fff;
}


.box__body--date{
    line-height: 1.5;

}

.box__body--title{
    line-height: 1.5;
    font-size: 1.2rem;
}

.box__body--task span{
    color: red;
}

.box__body--task a{
    color: red;
}

/* end home */




.box__body--container{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.box__body--list{
    width: 200px;
    margin: 20px;

}
.box__body--department{
    text-align: center;
}


.box__body--box{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(226, 229, 230);
}

.box__body--btn{
    width: 125px;
    margin: 4px 8px;
    height: 40px;
    background: linear-gradient(to right, #0056b3, #007bff);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3sease-in-out;
}

.box__body--btn:hover{
    background: linear-gradient(to right, #003d80, #0056b3);

}

.box__body-h2{
    color: #fff;
    text-align: center;
    padding: 8px;
    background: linear-gradient(to right, #e7e4e4, #3791eb);
    user-select: none;

}

/* Định dạng chung cho bảng */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Tiêu đề bảng */
th {
    background: linear-gradient(to right, #0056b3, #007bff);
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    border: 1px solid #fff;
    
    

}

/* Ô dữ liệu */
td {
    padding: 8px;
    border: 1px solid #cccaca;
    white-space: normal;
}

/* Căn chỉnh kích thước cột */
td:first-child {
    width: 75%; /* Cột nội dung chính */
    word-break: break-word;
}

td:last-child {
    width: 15%; /* Cột chứa nút */
    text-align: center;
}

/* Màu nền xen kẽ giữa các dòng */
tr:nth-child(even) {
    background-color: #d5d8dd;
}

tr:nth-child(odd) {
    background-color: #dde3e9;
}

/* Hiệu ứng hover */
tr:hover {
    background-color: #89bbec;
    transition: background-color 0.3s ease;
}

/* Định dạng nút trong bảng */
.box__body--create {
    color: #fff;
    width: 100px;
    height: 30px; 
    line-height: 30px;
    background: linear-gradient(to right, #0056b3, #007bff);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
   
}

.box__body--create:hover {
    background: linear-gradient(to right, #003d80, #0056b3);
}












