@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #fff !important;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

body {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    user-select: none;
}

.main{
    display: flex;
    transition: margin-left 0.3s ease-in-out;

}


 

.content{
    width: 1220px;
    max-width: 100%;
    margin: 0 1px;
    background-color: var(--base-clr);
    box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 0.3);
}



/* Sidebar */
.sidebar-menu{
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    max-height: 100%;
    background: var(--base-clr);
    transition: 0.5s;
    z-index: 1000;
    box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    text-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
}


.main__box {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

.main__box.active {
    opacity: 1;
    transform: translateY(0);
    display: block;
}


h2{
    background: #007bff;
    color: #fff;
    height: 62px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    line-height: 60px;
    font-size: 1.2rem;
}

.sidebar-menu.close{
    width: 55px;
}





.sidebar-logo{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    font-size: 1.4rem;
    color: var(--text-clr);
    background: linear-gradient(to right, #0056b3, #007bff);
}

.sidebar-logo span{
    font-weight: 600;
}

.sidebar-toggle-btn{
    position: relative;
    color: var(--text-clr);
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
}


/* ICON  */
.arrow-icon{
    display: inline-block;
    font-size: 0.9rem;
    margin: 0 40px;
}


.left-icon{
    display: inline-block; 
    line-height: 40px;
    font-size: 1rem;
    margin:0 18px; 
}



.sidebar-toggle-btn.rotate .arrow-icon,
.sidebar-toggle-btn.rotate .left-icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
/* end ICON */

.sidebar-home {
    padding: 10px 0;
    color: var(--text-clr);
}

.sidebar-home:hover{
    margin-left: 2px;
    transition: ease-in 0.3s;
    background: linear-gradient(to right, #0056b3, #007bff);
}

.sidebar-link{
    display: flex;
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    color: #fff;
    background-color: transparent;
    color: var(--text-clr);
    cursor: pointer;
}


.sidebar-menu ul , li a{
    text-decoration: none;
    list-style: none;
}


.sidebar-icon{
    position: relative;
    top: 2px;
    font-size: 1.2rem;
    padding-left: 20px;
    margin-right: 20px;
    color: var(--text-clr);
}

.sidebar-log{
    position: relative;
    top: 40px;
    left: 0;
    right:0;
    display: flex;
    justify-content: flex-start;
    padding:10px 0;
}


.sidebar-log:hover{
    transition: ease-in-out 0.2s;
    background: linear-gradient(to right, #0056b3, #007bff);
}

.sidebar-profile:hover{
    transition: ease-in-out 0.2s;
    background: linear-gradient(to right, #0056b3, #007bff);
}

.sidebar-user{
    border-top: 1px solid #fff;
    position: relative;
    top: 40px;
    left: 0;
    right: 0;
    padding: 20px 0;
    color: var(--text-clr);
    font-size: 1.2rem;
}

/* end sidebar */


/* start sidebar sub */
.sidebar__sub--menu{
    list-style-type: none;
    line-height: 2;
    width: 350px;
    margin: 0;
    padding:  0;
    max-width: 100%;
}


#sidebar .sidebar__sub--menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
#sidebar .sidebar__sub--menu.show{
    max-height: 300px;
}


#sidebar .sidebar__sub--menu button{
    display: flex; 
    width: 100%; 
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 1.0rem;
    margin: 8px 0px;
    margin-left: 60px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.sidebar__sub--menu li:hover{
    margin-left: 2px;
    transition: ease-in-out 0.3s;
    background: linear-gradient(to left, #0056b3, #007bff);
    border-radius: 6px;
} 


  
/* end sidebar sub */




/* Home page */
.home__page{
    height: 100%;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.home__header{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 62px;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(to right, #0056b3, #007bff);
}

.home__logo{
    width: 100%;
    height: 50px;
    margin: 6px;

}

.home__title{
    color: var(--text-clr);
    margin:0 20px;
    margin-top: 20px;
    line-height: 2;
    letter-spacing: 2px;
}

.home__top{
    margin: 0 20px;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2;
}

.home__top label{
    font-size: 1.4rem;
    font-weight: 500;
}

.home__date{
    line-height: 2;
    font-size: 1.2rem;
    font-weight: 500;
}

.home__task {
    line-height: 2;
    font-size: 1.2  rem;
    font-weight: 500;
}

.home__task span{
    color: red;
}

.home__link{
    color:#007bff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3;
}

.home__link:hover{
    color: #5da0f755;
}

/* btn */
.home__btn{
    /* display: grid;
    margin: 40px 0; */
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 15px;
}

.home__menu{
    margin: 20px 0;
    padding: 0 20px ;
    display: none;
    
}

.home__btn--title{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0 8px;
  
}

.home__btn-list{
    padding: 0 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #fff;
}

.home__btn--click{
    padding:  2px 6px;
    margin:6px;
    margin-bottom: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-clr);
    letter-spacing: 1px;

    
}

.home__btn--click:hover{
    padding-right: 40px;
    background-color: #007BFF;
    transition: ease-in 0.4s;
}


/* application */
.application__page{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.application__header{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 62px;
    line-height:60px;
    background-color: #0056b3;
}

.application__body{
    padding: 20px;

}


.application__btn--create{
    color: #fff;
    text-decoration: none;
}

.application__btn--create:hover{
    color: #b9b8b8;
}

/* table */
table{  
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: #333;
    box-shadow: 2px 2px 10px 0 rgba(245, 243, 243, 0.3);
}



.date-transfer {
    padding: 5px;
    border-radius: 5px;
    font-size:0.8rem;
    cursor: pointer;
}

.date-transfer:hover {
    border-color: #007bff;
}

.date-transfer:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



tr{
    height: 50px;
}

th, td{
    padding: 2px 6px;
    border: 1px solid #fff;
}



td:first-child{
    width: 85%;
    word-break: break-word;
}
td:last-child {
    width:15%; 
    text-align: center;
}



/* table # */
.asset__page{
    padding: 20px;
}

.section-header{
    color: #fff;
    padding: 2px 6px;
    background-color:#007BFF;
    font-size: 1rem;
    margin: 10px 0;
}


.assets__table{
    width: 100%;
    max-width: 100%;
    color: #fff;
    border-collapse: collapse;
    background-color: #333;
    box-shadow: 2px 2px 10px 0 rgba(245, 243, 243, 0.3);
}

.assets__table input{
    width: 100%;
    max-width: 100%;
    padding: 6px 8px;

}

.assets__table td:first-child{
    width:30%;
    word-break: break-word;

}

.assets__table td:last-child{
    width: 80%;
    text-align: left;
}




textarea {
    width: 100%;
    max-width: 100%;
    height: 95px;
    margin: 16px 0 8px 0;
    padding: 6px 8px;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f8f8;
}

textarea:focus {
    background-color: rgb(231, 227, 227);
    border-color: #136bf0;
    outline: none;
}


.assets__select{
    font-size: 0.8rem;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    border: none;
    outline: none;
}


.assets__table--btn{
    position: relative;
    top: 10px;
    display: inline-block;   
    left: 50%;
    right: 50%;
    width: 70px;
    height: 36px;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #007BFF;
    cursor: pointer;
}

.assets__table--btn:hover{
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
}


.yourdraft__page{
    padding: 20px;
}

.yourdraft__table{
    width: 100%;
}


.yourdraft__table td:first-child{
    width:20%;
    word-break: break-word;
}

.yourdraft__table td:last-child{
    width: 80%;
    text-align: left;
}

.yourdraft__table--input{
    font-weight: 600;
    width: 60%;
    color: #757575;
    height: 31px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px 6px;

}
.yourdraft__table--input:hover{
    background-color: #dadada;
}

.yourdraft__table--filter{
    text-align: left;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px 6px;

}


.yourdraft__table--select{
    padding: 8px 6px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.yourdraft__table--search{
    font-weight: 600;
    width: 85%;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px 6px;
}

.yourdraft__table--btn{
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 8px 6px;
    cursor: pointer;
    margin:0px 26px;
    background-color: #007BFF;
    color: #fff;
}

.yourdraft__table--btn:hover{
    background-color: #fff;
    color: #333;
}

.yourdraft__table--display{
    padding:20px 0;
    font-size: 0.9rem;
    text-align: center;
    white-space: normal; 
    word-wrap: break-word;
    text-overflow: ellipsis;
}


.yourdraft__table--display th:nth-child(1){
    width: 15%;
}

.yourdraft__table--display th:nth-child(2){
    width: 35%;
}

.yourdraft__table--display th:nth-child(3){
    width: 12%;
}

.yourdraft__table--display th:nth-child(4){
    width: 10%;
}

.yourdraft__table--display th:nth-child(5){
    width: 14%;
}
.yourdraft__table--display th:nth-child(6){
    width: 6%;
}
.yourdraft__table--display th:nth-child(7){
    width: 6%;
}

.yourdraft__table--display th:nth-child(8){
    width: 6%;
}

.yourdraft__table--display th:nth-child(9){
    width: 7%;
}





.yourdraft__table--icon{
    border: none;
    color: #fff;
    font-size: 1.5rem;
    background: none;
}

.yourdraft__table--icon:hover{
    color: #42434a;
    cursor: pointer;
}


/* start projects */
.yourdraft__table--icon i.fa-check {
    color: green;
    font-size: 1.2rem;
    cursor: pointer;
}

.yourdraft__table--icon i.fa-check:hover {
    color: darkgreen;
}

.yourdraft__table--icon i.fa-xmark {
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}

.yourdraft__table--icon i.fa-xmark:hover {
    color: darkred;
}

.yourdraft__table--icon i.fa-undo {
    color: blue;
    font-size: 1.2rem;
    cursor: pointer;
}

.yourdraft__table--icon i.fa-undo:hover {
    color: darkblue;
}

.yourdraft__table--icon.disabled {
    pointer-events: none; /* Không thể nhấn */
    opacity: 0.5; /* Làm mờ */
    cursor: not-allowed; /* Hiển thị dấu "🚫" khi di chuột vào */
}

/* end projects */

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.notification.success {
    background-color: #28a745; /* Xanh lá */
}

.notification.error {
    background-color: #dc3545; /* Đỏ */
}

.notification.info{
    background-color: #0056b3; /* Xanh */

}

.notification.show {
    display: block;
    opacity: 1;
}




@media screen and (max-width: 768px) {
    .sidebar-menu{
        position: static;

    }

    
    
    
    
    .main__content{
        background-color: rgba(245, 243, 243, 0.3);
    }
   
    table{
        text-align: center;
    }

    
    h2{
        font-size: 1rem;
    }
    
    /* Home Page Adjustments */
    .home__btn-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .home__btn--click {
        font-size: 0.9rem;
    }
    
    
    .home__title{
        max-width: 100%;
    }
    
    .home__top{
        width: 100%;
        max-width: 100%;
        font-size: 0.8rem;
        font-weight: 500;
    }
    .home__link{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .home__date{
        font-size: 0.9rem;
        line-height: 2.5;
        font-weight: 500;
    }
    
    .home__btn{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .home__btn--title{
        display: flex;
        justify-content: center;
        text-align: center;
        user-select: none;

    }

    .home__menu{
        border-radius: 12px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        max-width: 250px;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    }
    
    .assets__select {
        margin-top: 5px; 
        padding: 6px; 
        width: 100%;
        
    }

    .assets__table--btn{
        position: relative;
        bottom: 20px;
        top: 10px;
        left:33%;
        right:0;
    }

    .application__btn--create{
        font-size: 0.8rem;
    }

}
    
  




/* Responsive for Desktop */
@media screen and (min-width: 1025px) {
    .content {
        width: 2048px;
        max-width: 100%;
        height: 1280px;
        min-height: 100%;
    }
    
    .sidebar-menu {
        width: 250px;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        position: relative;
        left: 0;
    
    }
    
    .home__btn-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .home__btn--click {
        font-size: 1rem;
        padding: 12px;
    }
    
    table {
        width: 100%;
        max-width: 100%;
        table-layout: fixed;
    }
}